*
!*.*
!*/

cmake-build-debug
.idea
_deps
*.cbp
*.out
*.cmake
Testing
CMakeFiles
CMakeCache.txt
date/ci/
date/compile_fail.sh
date/.gitignore
date/.travis.yml
date/CMakeLists.txt
date/LICENSE.txt
date/README.md
date/test/